.search-bar {
  width: 60%;
  margin: 0 !important;
}

.search-input:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

.search-button {
  background-color: #ff9aa2;
  border: 1px solid #ff9aa2;
}

.search-results {
  display: flex;
  width: 60vw;
  background-color: white;
  overflow-y: auto;
  max-height: 200px;
  border: none;
  z-index: 999999 !important;
}
li {
  list-style: none;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid grey;
}
li:hover {
  cursor: grab !important;
  color: aquamarine;
}
ul {
  padding: 0;
  margin: 0;
  padding-left: 10px;
  width: 100%;
  padding-right: 10px;
}
a {
  text-decoration: none !important;
  color: black;
}

.no-display {
  display: none;
}

.city-name-text {
  margin-left: 10px !important;
}

.city-name-text:hover {
  color: aquamarine !important;
}
