.main-container {
  padding: 0;
  margin: 0;
}

.searchPage {
  background-color: #97cdff;
  width: 100%;
  height: 100vh;
}

.search-bar-view {
  padding-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.serach-wrapper {
  position: relative;
}

h1 {
  text-align: center;
  padding-top: 10%;
  font-weight: bolder;
}

h4 {
  padding-top: 10px;
  padding: 10px;
}
